name: Node CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
    - name: Install dependencies
      # --build-from-source is used to work around npm being an awful piece of software
      # https://github.com/npm/cli/issues/4828
      # https://sharp.pixelplumbing.com/install#building-from-source
      run: npm install --build-from-source
    - name: Run tests
      run: npm test
